{% extends 'base.html' %}
{% block content %}



<div class="card">
  <div class="card-body">
    <p class="card-text"><strong>Name: </strong>{{ customer_record.name }}</p>
    <p class="card-text"><strong>Description: </strong>{{ customer_record.description }}</p>
    <p class="card-text"><strong>ID: </strong>{{ customer_record.id }}</p>
  </div>
</div>

<br/><br/>
<a href="{% url 'home' %}" class="btn btn-secondary">Home</a>

<a href="{% url 'delete_record' key customer_record.id %}" class="btn btn-danger">Delete</a>

<a href="{% url 'update_record' key customer_record.id %}" class="btn btn-secondary">Update Record</a>
		

{% endblock %}